<form class="form-vertical well " id="q_data_form" action="q_cont_data" method="get">
  <div class="alert alert-block alert-info">
    <h4 class="alert-heading">查询提交数据!</h4>
    可以通过此页面查询个人提交的所有数据状态，此数据状态只查询数据更新一次后的结果...
  </div>
  <fieldset>
    <legend>输入查询条件</legend>
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
          <div class="span6">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">查询号码</span>
                <%= text_field :pstn_stop, "sn", { :class => "span6", :size => "16", :id => "q_no" } %>
                <!--<input id="q_no" class="span6" type="text" size="16">-->
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">业务类型</span>
                <%= select(:pstn_stop, "work_order_t",
                           { "所有" => "0", "放欠费" => "1", "欠费停机" => "2", "停机" => "3", "拆机" => "3" },
                           { prompt: "选择业务类型" }, { class: 'span6', id: "q_bt" }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">开始日期</span>
                <%= text_field :pstn_stop, "date1", { :class => "span6", :id => "datepicker1" } %>
                <!--<input id="datepicker1" class="span6" type="text" size="16">-->
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">结束日期</span>
                <%= text_field :pstn_stop, "date2", { :class => "span6", :id => "datepicker2" } %>
                <!--<input id="datepicker2" class="span6" type="text" size="16">-->
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on">后台状态</span>
                <%= select(:pstn_stop, "status",
                           { "所有状态" => "1", "成功状态" => "1", "等待状态" => "2", "失败状态" => "3" },
                           { prompt: "选择后台数据状态" }, { class: 'span6', id: "q_bs" }) %>
              </div>
            </div>
          </div>
          <div class="span6">
            <button type="submit" id="q_b_s" class="btn btn-primary span8">查 询 数 据</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>日期选择有错误</h3>
  </div>
  <div class="modal-body">
    <h4>
      <p>结束日期要大于或等于开始日期!</p>
    </h4>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger btn-large" data-dismiss="modal">关 闭</a>
  </div>
</div>

<div class="modal hide fade" id="conModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>条件输入有错误</h3>
  </div>
  <div class="modal-body">
    <h4>
      <p>最少需要输入一项条件才能查询!</p>
    </h4>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger btn-large" data-dismiss="modal">关 闭</a>
  </div>
</div>

<div id="query_data_t1">
  <table class="table table-bordered ">
    <thead class="table-header-owen">
    <tr>
      <th colspan="7" style="text-align: center;">查询显示结果如下所示：</th>
    </tr>
    <tr>
      <th>#序号</th>
      <th>停机号码</th>
      <th>工单类型</th>
      <th>后台状态</th>
      <th>下单人</th>
      <th>下单时间</th>
      <th>完成时间</th>
    </tr>
    </thead>
    <% @q_data.each_with_index do |x, index| %>
        <tr class="<%= cycle("list-line-odd", "list-line-even") %>">
          <td><%= index %></td>
          <td><%= x.s_no %></td>
          <td><%= x.s_cid %></td>
          <td><%= x.status %></td>
          <td><%= x.user.name %></td>
          <td><%= x.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
          <td class="span3"><%= x.updated_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        </tr>
    <% end %>
  </table>
  <div class="pagination pagination-small">
    <%= will_paginate @q_data %>
  </div>
  <div class="well">
    统计信息：共<%= @q_data.total_entries %>条,共<%= (@q_data.total_entries / @q_data.per_page)+1 %>页,
    当前第<%= @q_data.current_page %>页.
  </div>
</div>
<div class="well">
  <blockquote>
    <p>你无法理解我的无理取闹，就像我不懂你一直对我视而不见。</p>
    <small class="pull-right">来自某某某的著名言语</small>
  </blockquote>
</div>


<div class="btn-toolbar" style="margin-top: 18px;">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <!-- /btn-group -->
  <div class="btn-group">
    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <!-- /btn-group -->
</div>