<!--todo:需要先把数据库里面的记录先显示出来。-->
<div class="container-fluid">
  <div class="row-fluid">

    <div class="row">
      <div class="span2" style="width: 150px;">
        <%= image_tag 'avatar.png' %>
        易其锋<br/>
        发表时间为：2012年12月30日17：20
      </div>
      <div class="span5 offset1">
        <blockquote class="example-left">
          <p>
            23日22点开始由于武广20芯光缆衰耗过大，导致京沪穗、广坪2.5G、省北环等多个系统中断，从而使分公司互联网至广州出口中断4个GE口，因此从22点至23点网络出口出现拥塞现象，影响到用户上网体验，按省网管指示网维中心于24日6点开始进行出口倒代，现已经倒通1个GE口，正在倒代另一个GE口，预计今晚20点至22点进行省北环割接。请服务质量监督中心及各经营部密切留意用户反馈及投诉，若有疑问请咨询网维中心。
          </p>
        </blockquote>
      </div>

    </div>
    <p></p>
    <br/>

    <div class="row">
      <div class="span2" style="width: 150px;">
      </div>
      <div class="span5 offset1">
        <blockquote class="example-right">
          <p>
            23日22点开始由于武广20芯光缆衰耗过大，导致京沪穗、广坪2.5G、省北环等多个系统中断，从而使分公司互联网至广州出口中断4个GE口，因此从22点至23点网络出口出现拥塞现象，影响到用户上网体验，按省网管指示网维中心于24日6点开始进行出口倒代，现已经倒通1个GE口，正在倒代另一个GE口，预计今晚20点至22点进行省北环割接。请服务质量监督中心及各经营部密切留意用户反馈及投诉，若有疑问请咨询网维中心。
          </p>
        </blockquote>
      </div>
      <div class="span2 offset1" style="width: 150px;">
        <%= image_tag 'avatar.png' %>
        易其锋<br/>
        发表时间为：2012年12月30日17：20
      </div>
    </div>

  </div>
</div>

<p></p>
<br/>

<div class="container-fluid alert alert-block alert-info">
  <div class="row-fluid">
    <div class="span3 offset1" style="width: 100px;height:20px">
      <%= image_tag 'sound.png' %>
    </div>
    <div class="span9">
      <%= form_tag('log_submit') do %>
          <%= text_area_tag 'cont1', nil, rows: 6, class: 'input-xlarge span12' %>

          <div class="span12 offset4">
            <button id="s_b_s" class="btn btn-large btn-success span4">
              <i class="icon-fire icon-white"></i>
              提交日志
            </button>
          </div>
      <% end %>
    </div>
  </div>
</div>