<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at %>
</p>


<%= link_to '编辑', edit_event_path(@event) %> |
<%= link_to '后退', events_path %>
