<div class="slide-box">
  <ul class="nav nav-list ">
    <li class="nav-header">
      交接班处理
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/log_book/logging' do -%>
          <%= content_tag(:i, '', class: 'icon-comment') -%>今日交班
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/log_book/log_type2' do -%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= content_tag(:i, '', class: 'icon-list-alt') -%>日常
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/log_book/log_type1' do -%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= content_tag(:i, '', class: 'icon-warning-sign') -%>故障
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/log_book/log_type3' do -%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= content_tag(:i, '', class: 'icon-book') -%>要点
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/log_book/log_type4' do -%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= content_tag(:i, '', class: 'icon-print') -%>调令
      <% end %>
    </li>
    <li>
      <%= content_tag :a, href: '/log_book/log_type5' do -%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= content_tag(:i, '', class: 'icon-bullhorn') -%>会议令
      <% end %>
    </li>

    <li class="nav-header">
      其它
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/calendar' do -%>
          <%= content_tag(:i, '', class: 'icon-calendar') -%>月交班记录
      <% end %>
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/events' do -%>
          <%= content_tag(:i, '', class: 'icon-th-list') -%>交班记录汇总
      <% end %>
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/events/query' do -%>
          <%= content_tag(:i, '', class: 'icon-search') -%>查询交班记录
      <% end %>
    </li>
  </ul>
</div>