<div class="slide-box">
  <ul class="nav nav-list bs-docs-sidenav ">

    <li class="nav-header">
      开停机处理
    </li>
    <li id="m_stop">
      <%= content_tag :a, href: '/welcome/p_stop' do -%>
          <%= content_tag(:i, '', class: 'icon-book') -%>停机业务办理
      <% end %>
    </li>
    <li class="nav-header">
      其它业务
    </li>
    <li>
      <%= content_tag :a, href: '/business_logic/change' do -%>
          <%= content_tag(:i, '', class: 'icon-book') -%>其它业务办理
      <% end %>
    </li>
    <li class="nav-header">
      工单状态
    </li>
    <li id="m_q_data">
      <%= content_tag :a, href: '/query_data/start' do -%>
          <%= content_tag(:i, '', class: 'icon-book') -%>查询工单状态
      <% end %>
    </li>

  </ul>
</div>