<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", :cache => false %>
  <%= javascript_include_tag "application", :cache => false %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class = "container" style="width: 1250px;">
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 well" style="background-color: #DDD;">
        <%= render 'layouts/slide' %>
      </div>
      <div class="span9 well" style="background-color: #DDD;">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>

